
// Body
$body-bg: #fff;

//backgrounds
$default-bg: #F7EBDB;

// Borders


// Brands
$primary: #3097D1;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;
$dark: #333333;
$light: #dadada;
$white: #FFFFFF;
$BGpink: #FF0084;
$BGgreen: #638A5A;
$BGdark: #2B2B2B;
$light-gray: #aaaaaa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$text-color: #636b6f;


//Querys
$max-mobile: "(max-width: 767px)";
$portrait: "(min-width: 768px)";
$max-portrait: "(max-width: 1023px)";
$landscape: "(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
$small-desktop: "(min-width: 1024px)";
$max-small-desktop: "(max-width: 1279px)";
$large-desktop: "(min-width: 1280px)";
$full: "(min-width: 1440px)";
